In [1]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.manifold import TSNE

In [2]:
# Settings
SEED = 42
PATH_DB = './spotify.sqlite'
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [3]:
# Open the database in read-only mode
con = sqlite3.connect(f'file:{PATH_DB}?mode=ro', uri=True)

In [4]:
# Display the database
pd.read_sql_query('SELECT * FROM sqlite_master', con)

,type,name,tbl_name,rootpage,sql
0,table,albums,albums,2,"CREATE TABLE albums ([id], [name], [album_group], [album_type], [release_date], [popularity])"
1,table,artists,artists,3,"CREATE TABLE artists ([name], [id], [popularity], [followers])"
2,table,audio_features,audio_features,4,"CREATE TABLE audio_features ([id], [acousticness], [analysis_url], [danceability], [duration], [energy], [instrumentalness], [key], [liveness], [loudness], [mode], [speechiness], [tempo], [time_signature], [valence])"
3,table,genres,genres,5,CREATE TABLE genres ([id])
4,table,r_albums_artists,r_albums_artists,6,"CREATE TABLE r_albums_artists ([album_id], [artist_id])"
5,table,r_albums_tracks,r_albums_tracks,7,"CREATE TABLE r_albums_tracks ([album_id], [track_id])"
6,table,r_artist_genre,r_artist_genre,8,"CREATE TABLE r_artist_genre ([genre_id], [artist_id])"
7,table,r_track_artist,r_track_artist,9,"CREATE TABLE r_track_artist ([track_id], [artist_id])"
8,table,tracks,tracks,11,"CREATE TABLE tracks ([id], [disc_number], [duration], [explicit], [audio_feature_id], [name], [preview_url], [track_number], [popularity], [is_playable])"

In [5]:
# Close the database connection
con.close()