In [11]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.manifold import TSNE

In [12]:
# Settings
SEED = 42
PATH_DB = './spotify.sqlite'
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [13]:
# Open the database in read-only mode
con = sqlite3.connect(f'file:{PATH_DB}?mode=ro', uri=True)
# Get database preview
df_db = pd.read_sql_query('''
    SELECT
        name, sql
    FROM
        sqlite_master
    WHERE
        type = 'table'
''', con)
# Close the database connection
con.close()
# Preview database
df_db

,name,sql
0,albums,"CREATE TABLE albums ([id], [name], [album_group], [album_type], [release_date], [popularity])"
1,artists,"CREATE TABLE artists ([name], [id], [popularity], [followers])"
2,audio_features,"CREATE TABLE audio_features ([id], [acousticness], [analysis_url], [danceability], [duration], [energy], [instrumentalness], [key], [liveness], [loudness], [mode], [speechiness], [tempo], [time_signature], [valence])"
3,genres,CREATE TABLE genres ([id])
4,r_albums_artists,"CREATE TABLE r_albums_artists ([album_id], [artist_id])"
5,r_albums_tracks,"CREATE TABLE r_albums_tracks ([album_id], [track_id])"
6,r_artist_genre,"CREATE TABLE r_artist_genre ([genre_id], [artist_id])"
7,r_track_artist,"CREATE TABLE r_track_artist ([track_id], [artist_id])"
8,tracks,"CREATE TABLE tracks ([id], [disc_number], [duration], [explicit], [audio_feature_id], [name], [preview_url], [track_number], [popularity], [is_playable])"
9,artists_indexed,"CREATE TABLE artists_indexed (\n id TEXT PRIMARY KEY,\n name TEXT NOT NULL,\n followers INTEGER,\n popularity INTEGER NOT NULL\n )"
10,albums_indexed,"CREATE TABLE albums_indexed (\n id TEXT PRIMARY KEY,\n name TEXT NOT NULL,\n album_type TEXT,\n release_date TEXT,\n popularity INTEGER NOT NULL\n )"
11,tracks_indexed,"CREATE TABLE tracks_indexed (\n id TEXT PRIMARY KEY,\n name TEXT NOT NULL,\n duration INTEGER,\n explicit INTEGER,\n audio_feature_id TEXT NOT NULL,\n popularity INTEGER NOT NULL,\n UNIQUE(audio_feature_id)\n )"
12,audio_features_indexed,"CREATE TABLE audio_features_indexed (\n id TEXT PRIMARY KEY,\n analysis_url TEXT,\n loudness REAL,\n tempo REAL,\n time_signature INTEGER,\n key INTEGER,\n mode INTEGER,\n acousticness REAL,\n danceability REAL,\n energy REAL,\n instrumentalness REAL,\n liveness REAL,\n speechiness REAL,\n valence REAL,\n UNIQUE(analysis_url)\n )"

In [ ]:
con = sqlite3.connect(f'file:{PATH_DB}?mode=ro', uri=True)
con.text_factory = bytes
df = pd.read_sql_query('''
    SELECT
        *
    FROM
        tracks_indexed,
        audio_features_indexed
    WHERE
        tracks_indexed.audio_feature_id = audio_features_indexed.id
''', con)
con.close()
df.head()